body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:beige;
}

h5{
    color:gray;
}


.container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap:20px;
    row-gap: 20px;
    width: 600px;
}

.dessert{
    border-radius: 5px;
    width:180px;
    height:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-wrapper > img{
    width:180px;
    height:180px;
    border-radius: 5px;
}

.info{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    margin-top:20px;
}

.dessert-name{
    font-weight: 700;
}

.dessert-type{
    color:gray;
    font-weight: 700;
}

.price {
    color:chocolate;
    font-weight:700;
}

.img-wrapper{
    display: flex;
    flex-direction: column;
}

.add {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border:1px solid orange;
    border-radius: 20px;
    width:150px;
    height:30px;
    margin-top:-15px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}


.add > img{
    width:30px;
    height:30px;
}